<div class="login-wrap">
  <div class="moving-bg">
    <div class="image-content">
    </div>
  </div>

  <div class="registration-wrap">
    <div class="registration-block">
      <div class="content clearfix">
        <div class="right-part fr">
          <div class="devise">
            <h2>忘记密码?</h2>

            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true,label: false, placeholder: "请输入邮箱地址"  %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "发送重置密码链接到我的邮箱" %>
              </div>
            <% end %>
            <div class="tip">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
