<div class="col-md-12">
 <div class="row box">
   <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Music Store</h1>
      <p class="slogan">在这里，遇见以声相许
      <br>
      <br>
       这不是简单的擦肩而过，而是回味悠长的邂逅
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/products">开始选购</a></p>
    </div>
  </div>
</div>


<!-- 首页精选商品列表 -->
  <div class="container all-product-box">
    <div class="row">

      <div class="container topspan">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="titspan">商品列表</h3>
          </div>
          <div class="col-xs-6">
            <%= link_to("more >", products_path, class: "pull-right morespan") %>
          </div>
        </div>
      </div>

      <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3 text-center product-list-style">
          <% link_to product_path(product) %>
            <% if product.image.present? %>
              <%= link_to image_tag(product.image.thumb.url, class: "product-list-style-img img-responsive center-block"), product_path(product) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "product-list-style-img img-responsive center-block"), product_path(product) %>
            <% end %>
          <br>
          <%= link_to(product.title, product_path(product)) %>
          <br>
          <strong>￥ <%= link_to(product.price, product_path(product)) %></strong></p>
        </div>
      <% end %>

    </div>
  </div>
