<div class="cartProducts-list">
  <% current_cart.cart_items.each do |cart_item| %>
        <!-- 商品图片 -->
        <div class="product-list row text-center">
          <div class="col-md-2 product-image-cart">
            <%= link_to product_path(cart_item.product) do %>
              <% if cart_item.product.photos.present? %>
                <%= image_tag(cart_item.product.photos[0].image.thumb.url, class: "thumbnail img-responsive center-block") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive center-block") %>
              <% end %>
            <% end %>
          </div>
          <!-- 商品名称 -->
          <div class="col-md-2 product-title-cart">
            <%= cart_item.product.title %>
          </div>
          <!-- 商品价格 -->
          <div class="col-md-2 product-title-cart">
            <%= cart_item.product.price %>
          </div>
          <!-- 商品数量 -->
          <div class="col-xs-2 product-title-cart">
        <div class="cartPage-productList">
          <div class="item-quantity fl tc">
            <div class="countNumber">
              <%= link_to("-", reduce_quantity_cart_item_path(cart_item.product_id), class: "countNumber-btn countNumber-btn-sub", method: :post) %>
              <input class="countNumber-input" type="text" value="<%= cart_item.quantity %>">
              <%= link_to("+", add_quantity_cart_item_path(cart_item.product_id), class: "countNumber-btn countNumber-btn-plus", method: :post) %>
            </div>
          </div>
        </div>
      </div>
      <!-- 商品小计 -->
    <div class="col-xs-2 product-title-cart">
      <%= cart_item.product.price * cart_item.quantity  %>
    </div>
    <!-- 删除商品 -->
      <div>
        <%= link_to("删除", cart_item_path(cart_item.product_id), method: :delete,class: "delete-btn", :remote => true)%>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<!-- 合计详情 -->
<div class="row">
<span class="pull-right text-center product-price-total">
总计： <%= render_cart_total_price(current_cart) %> RMB
</span>
</div>

<br>

<div class="checkout mb50 clearfix">
<%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
</div>
