<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">Create a Product</h2>

  <%= simple_form_for [:admin, @product] do |f| %>
    <div class="group">
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "选择类别") %>
    </div>

    <div class="group">
      <%= f.input :title %>
    </div>

    <div class="group">
      <%= f.input :description, placeholder: "请输入产品详细描述" %>
    </div>
    <div class="group">
      <%= f.input :quantity %>
    </div>
    <div class="group">
      <%= f.input :price %>
    </div>
    <div class="group">
      <%#= f.label 详图 %><br>
     <%= f.input :image, as: :file %> ("请上传1张详图"）<br>
    </div>

    <div class="group">
      <%#= f.input :image, as: :file %>
      <%= f.label :image %><br>
      <%= f.file_field :image, :multiple => true, name: "photos[image][]" %> ("请上传5张图片"）<br>
    </div>

    <%= f.submit "Submit", data: {disable_with: "Submitting..."}, class: "btn btn-default" %>
  <% end %>
  <script type="text/javascript">
    autosize($('#product_description'));
    // 加.是class,加#是id   功能，自动根据输入的description内容调整框的尺寸。
  </script>
</div>
