<div class="minHeight1000 lp-bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fg11pbrrvkj31hc0yhjxp.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div class="caption1">
            <h1>准备来一场声嘶力竭?</h1>
            <p>来这里，遇见你的专属麦克风</p>
          </div>
          </div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg0tf5pjcaj31hc0zk1av.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div class="caption1">
            <h1>最近弹吉他没感觉?</h1>
            <p>来这里，换把电吉试试</p>
          </div>
          </div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fg11frpdvsj31hc0zk4dg.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div class="caption1">
            <h1>现场感不够high?</h1>
            <p>来这里，总有一款满足你的现场感</p>
          </div>
          </div>
         </a>
        </div>
      </div>
    </div>
  </div>
  <div class="order clearfix mt30 w1200 bc">
    <p class="fl title pl20 pr20">商品排序：</p>
    <ul style="list-style-type:none;" , class="fl orderList">
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if !params[:order] %>">
        <%= link_to("新品", products_path) %>
      </li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_quantity' %>">
        <%= link_to("销量", products_path(:order => "by_product_quantity")) %>
      </li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>">
        <%= link_to("价格", products_path(:order => "by_product_price")) %>
      </li>
      <!-- 用来判断点过哪个标签就加红哪个标签，注释掉就没有此变色功能  <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>-->
    </ul>
  </div>
    <div class="productList-wrap w1200 pt20 bc">
      <%= render :partial => "product_list"%>
    </div>
</div>
<div class="category_sidebar tc border f12">
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.name) %>
  <% end %>
  <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>
</div>
<br>
<br>
<br>
<br>
