<!-- <div class="row">
  <% @products.each do |product|%>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.photos.present? %>
          <%= image_tag(product.photos[0].image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div> -->

<div class="minHeight1000 lp-bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="https://ws2.sinaimg.cn/large/006tNc79ly1ffxys7chwej31hc0v0wru.jpg" style="width:1200;">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://vipweb.bs2cdn.yy.com/vipinter_de4f123bb220482e93649571a1491572.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcrlcb0knhj30xc0afwib.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>
  <div class="order clearfix mt30 w1200 bc">
    <p class="fl title pl20 pr20">商品排序：</p>
    <!-- <ul style="list-style-type:none;" , class="fl orderList">
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if !params[:order] %>"><%= link_to("新品", products_path) %></li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_quantity' %>"><%= link_to("销量", products_path(:order => "by_product_quantity")) %></li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>"><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
      排序的功能没有实现
    </ul> -->
  </div>

      
      <div>
      <h3 class="title tc f22 pb50 text-center">热卖的商品</h3>

      <div class="productList-wrap w1200 pt20 bc">
      <%= render :partial => "welcome/product_list"%>
      </div>

  </div>
</div>

<!-- <div class="category_sidebar tc border f12">
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.name) %>
  <% end %>
  <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>
</div> -->
