<div class="minHeight1000 bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
    <div class="carousel-inner">
            <div class="item active">
             <a href="javacript:;">
              <img src="https://cdn.pixabay.com/photo/2017/03/27/12/35/drums-2178425_960_720.jpg">
              <div class="carousel-caption"></div>
             </a>
            </div>
            <div class="item">
             <a href="javacript:;">
              <img src="https://cdn.pixabay.com/photo/2016/11/21/13/36/man-1845432_960_720.jpg">
              <div class="carousel-caption"></div>
             </a>
            </div>
            <div class="item">
             <a href="javacript:;">
              <img src="https://cdn.pixabay.com/photo/2016/11/23/00/23/blur-1851426_960_720.jpg">
              <div class="carousel-caption"></div>
             </a>
            </div>
          </div>
        </div>
      </div>

<div class="row">
  <% @products.each do |product|%>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.photos.present? %>
          <%= image_tag(product.photos[0].image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
