<div class="header">
  <div class="w1200 clearfix bc mt30 pb20 header_content pr">
    <div class="logo fl f24"><%=link_to("MusicStore", products_path, class: "col-red")%></div>
    <div class="fl mt8">
      <%= render :partial => "products/search_bar" %>
    </div>
    <div class="pa mt8 cart-wrap">
      <%= render :partial => "products/cart" %>
    </div>
  </div>
</div>
<div class="products-1 search-page">
  <div class="col-md-12 col-md-offset-1">
    <%= render "common/flashes" %>
  </div>

  <!-- 确定搜索结果排列的效果 -->
  <div class="minHeight1000 lp-bg-gray">

  <div class="productList-wrap w1200 pt20 bc">
    <br>
    <% if @products.present? %>
      <%= render :partial => "product_list" %>
    <% else %>
      抱歉，没找到您要的商品，请换一个关键字再搜索。
    <% end %>
  </div>
  </div>
</div>

<%#= render :partial => "product_list", :collection => @products, :as => :product %>
