<div class="detail mt20 w1200 bc pb50">
  <p class="location col-gray"><%= link_to("首页", products_path)%> >
    <% Category.all.each do |category| %>
      <% if @product.category.name == category.name %>
        <%= link_to category.name, products_path(category: category.name), class: "link" %>
      <% end %>
    <% end %>
    > <%= @product.title %></p>
  <div class="intro clearfix col-md-12">
    <div class="cover fl">
      <div class="intro-bigPic border pr">
        <div class="magnifier-preview border" id="preview"></div>
          <% if @product.photos.present? %>
            <a class="magnifier-thumb-wrapper" href="javascript:;">
              <img id="thumb" src="<%= @photos.first.image.medium.url %>"
              data-large-img-wrapper="preview"
              data-large-img-url="<%= @photos.first.image.medium.url %>">
            </a>
          <!-- 参考放大镜出处  http://mark-rolich.github.io/Magnifier.js/ -->
          <% end %>
        </div>
      <ul class="intro-preview clearfix">
        <% if @product.photos.present? %>
         <% @photos.each_with_index do |product,index| %>
           <% if index == 0 %>
              <li class="border intro-preview-item intro-preview-activeItem fl">
            <% else %>
              <li class="border intro-preview-item fl">
            <% end %>
            <% if index < 5 %>
             <%= image_tag product.image.small.url%>
            <% end %>
            </li>
          <% end %>
        <% end %>
       </ul>
     </div>
    <div class="intro-text fr col-md-7">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">运费</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><span id="quantity"><%= @product.quantity %></span>
      </p>
      <p>
        <div class="intro-text-quantity clearfix">
          <span class="pl20 pr30 fl">数量</span>
          <div class="countNumber fl mt10">
            <%= link_to("-", reduce_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-sub", method: :post) %>
            <input class="countNumber-input" type="text" value="<%= @product.buying_quantity %>">
            <%= link_to("+", add_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-plus", method: :post) %>
          </div>
        </div>

        <div class="intro-text-favorite">
           <% if current_user && current_user.is_fans_of?(@product) %>
             <i class="fa fa-star"></i><%= link_to("已关注（点击取消关注）", unfavorite_product_path(@product), method: :post ) %>
             <%= @product.fans.count %>人气
           <% else %>
            <i class="fa fa-star-o"></i><%= link_to("关注商品", favorite_product_path(@product), method: :post) %>
             <%= @product.fans.count %>人气
           <% end %>
         </div>
       </p>

        <p class="intro-text-btnWrap">
          <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product),
                  :method => :post,
                  :remote => true,
                  :class => "intro-text-btn addCartBtn add-cart pl15 pr15 mt30 ml20 tc col-red f20 bg-red") %>
          <% else %>
            <a href="javascript:;" class="intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red btn-disabled">已售完</a>
          <% end %>
        </p>
      </div>
    </div>
<!-- </div> -->

  <!-- Start of product description & reviews -->
<div class="detail mb20 col-md-7">
  <div class="productDetail border mt40">
    <ul class="productDetail-tabList bg-gray clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl50 pr50">
        商品详情
      </li>
      <li class="productDetail-tabList-tab fl pl50 pr50">
        商品评价(<%= @product.fans.count%>)
      </li>
    </ul>
  <div class="productDetail-contentWrap">
    <div class="productDetail-content pt20 tc pb20" style="display: block;">
      <p class="mb20"><%= @product.description %></p>
      <div class="productDetail-introImg">
        <% if @product.image.present? %>
         <%= image_tag @product.image.url, class: "commentImage border" %>
        <% else %>
         <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "commentImage border") %>
        <% end %>
      </div>
      <br>
      <div class="faq w600 text-left pl20">
        <p class="faq-title text-center">常见问题</p>
        <p class="question">使用什么快递发货？</p>
        <p class="answer">伴客默认使用顺丰快递发货，配送范围覆盖全国大部分地区（港澳台地区除外）。</p>
        <p class="question">如何申请退货？</p>
        <p class="answer">
          1.自收到商品之日起7日内，顾客可申请无忧退货，退款将原路返还，不同的银行处理时间不同，预计1-5个工作日到账；<br />
          2.退货流程：<br />
          确认收货-申请退货-客服审核通过-用户寄回商品-仓库签收验货-退款审核-退款完成；<br />
          3.因品味伴客产生的退货，如质量问题，退货邮费由品味伴客承担，退款完成后钱款将沿原渠道返还。因客户个人原因产生的退货，购买和寄回运费由客户个人承担。<br />
        </p>
        <p class="question">如何开具发票？</p>
        <p class="answer">如需开具普通发票，请在下单时联系客服办理，我们将虽货物一起快递给您；</p>
      </div>
    </div>

    <div class="productDetail-content pt30 tc pb20">
      <p class="mt20 mb20"><%= @product.description %></p>
      味道 : <%= rating_for @product, 'speed', disable_after_rate: true, star_path: '/images/ratyrate' %>
      外观 : <%= rating_for @product, 'engine', disable_after_rate: true，star_path: '/images/ratyrate' %>
      价格 : <%= rating_for @product, 'price', disable_after_rate: true，star_path: '/images/ratyrate' %>
    </div>
  </div>
</div>
</div>

<div class="detail mb20 col-md-4">
  <div class="productDetail border mt40">
    <% if @product.image.present? %>
     <%= image_tag @product.image.medium.url, class: "commentImage border" %>
    <% else %>
     <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "commentImage border") %>
    <% end %>
    </div>
  </div>
</div>
