<div class="detail mt20 w1200 bc pb50">
  <p class="location col-gray"><%= link_to("首页", products_path)%> >
    <% Category.all.each do |category| %>
      <% if @product.category.name == category.name %>
        <%= link_to category.name, products_path(category: category.name), class: "link" %>
      <% end %>
    <% end %>
    > <%= @product.title %></p>
  <div class="intro clearfix">
    <div class="cover fl">
      <div class="intro-bigPic border pr">
        <div class="magnifier-preview border" id="preview"></div>
          <% if @product.photos.present? %>
            <a class="magnifier-thumb-wrapper" href="javascript:;">
              <img id="thumb" src="<%= @photos.first.image.medium.url %>"
              data-large-img-wrapper="preview"
              data-large-img-url="<%= @photos.first.image.medium.url %>">
            </a>
          <!-- 参考放大镜出处  http://mark-rolich.github.io/Magnifier.js/ -->
          <% end %>
        </div>
      <ul class="intro-preview clearfix">
        <% if @product.photos.present? %>
         <% @photos.each_with_index do |product,index| %>
           <% if index == 0 %>
              <li class="border intro-preview-item intro-preview-activeItem fl">
            <% else %>
              <li class="border intro-preview-item fl">
            <% end %>
            <% if index < 5 %>
             <%= image_tag product.image.small.url%>
            <% end %>
            </li>
          <% end %>
        <% end %>
       </ul>
     </div>
    <div class="intro-text fr">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">运费</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><span id="quantity"><%= @product.quantity %></span>
      </p>
      <p>
        <div class="intro-text-quantity clearfix">
          <span class="pl20 pr30 fl">数量</span>
          <div class="countNumber fl mt10">
            <%= link_to("-", reduce_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-sub", method: :post) %>
            <input class="countNumber-input" type="text" value="<%= @product.buying_quantity %>">
            <%= link_to("+", add_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-plus", method: :post) %>
          </div>
        </div>

        <div class="intro-text-favorite">
           <% if current_user && current_user.is_fans_of?(@product) %>
             <i class="fa fa-star"></i><%= link_to("已关注（点击取消关注）", unfavorite_product_path(@product), method: :post ) %>
             <%= @product.fans.count %>人气
           <% else %>
            <i class="fa fa-star-o"></i><%= link_to("关注商品", favorite_product_path(@product), method: :post) %>
             <%= @product.fans.count %>人气
           <% end %>
         </div>
       </p>

        <p class="intro-text-btnWrap">
          <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product),
                  :method => :post,
                  :remote => true,
                  :class => "intro-text-btn addCartBtn add-cart pl15 pr15 mt30 ml20 tc col-red f20 bg-red") %>
          <% else %>
            <a href="javascript:;" class="intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red btn-disabled">已售完</a>
          <% end %>
        </p>
      </div>
    </div>

    <script>
    // 放大镜 //
    $('#preview').css('visibility', 'hidden')
    var evt = new Event(),
        m = new Magnifier(evt);
    m.attach({
        thumb: '#thumb',
        large: $('.intro-preview-activeItem img').attr('src'),
        largeWrapper: 'preview',
        zoom: 2
    })

    // 预览图选择  //
    // $(document).on('mouseover', '.intro-preview-item', function () {
    //   var src = $(this).find('img').attr('src')
    //   $('.intro-bigPic img').attr('src', src)
    //     $('#thumb-lens').css('background-image', 'url(' + src + ')')
    //   $(this).addClass('intro-preview-activeItem').siblings().removeClass('intro-preview-activeItem')
    //   m.attach({
    //         thumb: '#thumb',
    //         large: src,
    //         largeWrapper: 'preview'
    //   })
    // })
    //这段代码会让图片变模糊
    $('.intro-preview-activeItem').trigger('mouseover')
    $(document).on('mouseover', '.magnifier-thumb-wrapper', function (e) {
        $('#preview').css('visibility', 'visible')
    })
    $(document).on('mouseout', '.magnifier-thumb-wrapper', function (e) {
        $('#preview').css('visibility', 'hidden')
    })

    </script>
<!-- </div> -->

  <!-- Start of product description & reviews -->
  <div class="productDetail border mt40">
    <ul class="productDetail-tabList bg-gray clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl50 pr50">
        商品详情
      </li>
      <li class="productDetail-tabList-tab fl pl50 pr50">
        商品评价(<%= @product.reviews.count%>)
      </li>
    </ul>
  <div class="productDetail-contentWrap">
    <div class="productDetail-content pt20 tc pb20" style="display: block;">
      <p class="mb20"><%= @product.description %></p>
      <div class="productDetail-introImg">
        <% if @product.image.present? %>
         <%= image_tag @product.image.url, class: "commentImage border" %>
        <% else %>
         <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "commentImage border") %>
        <% end %>
      </div>
    </div>

    <div class="productDetail-content pt30 tc pb20">
      <div class="productDetail-evaluation w200 bc">
        <div class="intro-text-count clearfix mt10">
          <div class="fl mr10">音效: </div>
          <div class="star-rating" data-score= <%= @avg_post %> ></div>
        </div>
        <div class="intro-text-count clearfix mt10">
          <div class="fl mr10">外观: </div>
          <div class="star-look" data-score= <%= @avg_look %> ></div>
        </div>
        <div class="intro-text-count clearfix mt10">
          <div class="fl mr10">价格: </div>
          <div class="star-price" data-score= <%= @avg_price %> ></div>
        </div>
      </div>
      <ul class="commentList mt70 ">
        <% @reviews.each do |review| %>
          <li class="commentList-item w700 pt10 pb10 bc clearfix">
            <p class="fl content tl f12">
              <%=  review.content  %><br>
              <% if review.graphics.present? %>
                <% review.graphics.each_with_index do |product, index| %>
                    <%= image_tag product.image.medium.url, class: "commentImage border" %>
                <% end %>
              <% end %>
              <br>
              <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fczn4z618nj301a010mwz.jpg" class="commentBigImage">
            </p>
            <p class="fr name ell tr f12">
              <%= review.user.display_name %>
            </p>
          </li>
        <% end %>
      </ul>
      <p class="comment-say mt20 mb20">
        <%= link_to("我的感受", new_product_review_path(@product),
            :class => "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc") %>
      </p>
    </div>
  </div>
</div>
</div>
<script>
  $('.star-look').raty({
    path: '/images/',
      readOnly: true,
      score: function() {
      return $(this).attr('data-score');
    }
  });

  $('.star-price').raty({
    path: '/images/',
      readOnly: true,
      score: function() {
      return $(this).attr('data-score');
    }
  });

  $('.star-rating').raty({
    path: '/images/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });

  $('#star-rating').raty({
    path: '/images/',
    scoreName: 'review[rating]'
  });

  $('#star-look').raty({
    path: '/images/',
    scoreName: 'review[look]'
  });

  $('#star-price').raty({
    path: '/images/',
    scoreName: 'review[price]'
  });
</script>

<div class="recommend col-gray w1200 mt20 mb20 bc ">
   <h4 style="padding-top:10px;">猜您喜欢的宝贝</h4>
   <hr/>
   <div>
     <ul class="productList clearfix">
     <% Product.limit(5).sort_by{|product| -product.fans.count}.each do |product| %>
         <li style="list-style-type:none;", class="productList-item">
           <!-- style="list-style-type:none;" 可以支掉列表中的小圆点 -->
           <p class="productList-item-pic w200 h200">
             <%= link_to product_path(product) do %>
               <% if product.photos.present? %>
                 <%= image_tag(product.photos[0].image.thumb.url) %>
               <% else %>
                 <%= image_tag("http://placehold.it/418x418&text=No Pic") %>
               <% end %>
             <% end %>
           </p><br>
           <p class="productList-item-price fb col-red f18 mt10">￥<%= product.price %></p>
           <p class="productList-item-name ell">
             <%= link_to product_path(product) do %>
                <%= product.title %>
             <% end %>
           </p>
           <% if product.quantity == 0 %>
             <p class="productList-item-sellout f20 tc">已售完</p>
           <% end %>
         </li>
           <% end %>
       </ul>
  </div>
</div>

<!-- 页面到底部返回 -->
<div class="index">
   <i class="fa fa-arrow-up"></i>
</div>
