<div class="row">
  <div class="col-md-6">
    <% if @product.photos.present? %>
      <div class="tab-content show-picture">
        <% @photos.each_with_index do |product,index| %>
          <% if index < 5 %>
          <!-- 用each_with_index记录，第一张(index ==0)時，显示大图，其余显示小图(thumb) -->
            <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>">
              <!-- 为达到点击轮播效果，采用了rails内建的tap pane 选项卡窗格的写法 -->
              <%= image_tag product.image.medium.url %>
            </div>
          <% end %>
        <% end %>
      </div>

      <ul class="show-photo-xsmall-box nav nav-tabs">
         <% @photos.each_with_index do |product,index| %>
           <% if index <5 %>
             <li><a href="#<%= index %>" data-toggle="tab"><%= image_tag product.image.small.url%></a></li>
           <% end %>
         <% end %>
       </ul>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="intro-text fr">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">运费</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><span id="quantity"><%= @product.quantity %></span>
      </p>
      <p>
        <div class="intro-text-quantity clearfix">
          <span class="pl20 pr30 fl">数量</span>
          <div class="countNumber fl mt10">
            <%= link_to("-", reduce_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-sub", method: :post) %>
            <input class="countNumber-input" type="text" value="<%= @product.buying_quantity %>">
            <%= link_to("+", add_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-plus", method: :post) %>
          </div>
        </div>

        <div class="intro-text-favorite">
           <% if current_user && current_user.is_fans_of?(@product) %>
             <i class="fa fa-star"></i><%= link_to("已关注（点击取消关注）", unfavorite_product_path(@product), method: :post) %>
           <% else %>
            <i class="fa fa-star-o"></i><%= link_to("关注商品", favorite_product_path(@product), method: :post) %>
           <% end %>
         </div>

         <!-- 分享到社交平台 -->
          <div class='intro-text-share'>
            <%= social_share_button_tag(@product.title, :allow_sites => %w(facebook twitter google_plus wechat weibo douban)) %>
          </div>
          
       </p>




        <p class="intro-text-btnWrap">
          <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product),
                  :method => :post,
                  :remote => true,
                  :class => "intro-text-btn addCartBtn add-cart pl15 pr15 mt30 ml20 tc col-red f20 bg-red") %>
          <% else %>
            <a href="javascript:;" class="intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red btn-disabled">已售完</a>
          <% end %>
        </p>

      <!-- <div id="getting-started"></div>
        <script type="text/javascript">
          $("#getting-started")
          .countdown("<%= Time.zone.now + 2.days %>", function(event) {
            $(this).text(
              event.strftime('%D days %H:%M:%S')
            );
          });
        </script> -->
        <!-- 倒计时, <%= Time.zone.now %> 抓本地时区 -->
    </div>
  </div>

  <!-- Start of product description & reviews -->
  <div class="col-md-8">
    <div class="tabs" >
      <div class="tabbable-panel">
        <!-- <div class="tabbable-line"> -->
          <ul class="nav nav-tabs nav-justified ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">宝贝详情 </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">宝贝评价 </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_default_1">
             <p class="f20 ell fb"><%= @product.description %></p>
              <% if @product.image.present? %>
                <%= image_tag @product.image.url %>
                <!-- <%= image_tag(@product.image.url, class: "thumbnail") %> -->
              <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
              <% end %>

             <div class="faq">
               <p class="faq-title text-center">常见问题</p>
               <p class="question">使用什么快递发货？</p>
               <p class="answer">伴客默认使用顺丰快递发货，配送范围覆盖全国大部分地区（港澳台地区除外）。</p>
               <p class="question">如何申请退货？</p>
               <p class="answer">
                 1.自收到商品之日起7日内，顾客可申请无忧退货，退款将原路返还，不同的银行处理时间不同，预计1-5个工作日到账；<br />
                 2.退货流程：<br />
                 确认收货-申请退货-客服审核通过-用户寄回商品-仓库签收验货-退款审核-退款完成；<br />
                 3.因品味伴客产生的退货，如质量问题，退货邮费由品味伴客承担，退款完成后钱款将沿原渠道返还。因客户个人原因产生的退货，购买和寄回运费由客户个人承担。<br />
               </p>
               <p class="question">如何开具发票？</p>
               <p class="answer">如需开具普通发票，请在下单时联系客服办理，我们将虽货物一起快递给您；</p>
             </div>
          </div>
        </div>

         <div class="tab-pane" id="tab_default_2">
           <h3>商品评价开发中！</h3>
         </div>
      </div>
    </div>
  </div>
</div>
