<div class="row">
  <div class="col-md-6">
    <% if @product.photos.present? %>
      <div class="tab-content show-picture">
        <% @photos.each_with_index do |product,index| %>
          <% if index < 5 %>
          <!-- 用each_with_index记录，第一张(index ==0)時，显示大图，其余显示小图(thumb) -->
            <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>">
              <!-- 为达到点击轮播效果，采用了rails内建的tap pane 选项卡窗格的写法 -->
              <%= image_tag product.image.medium.url %>
            </div>
          <% end %>
        <% end %>
      </div>

      <ul class="show-photo-xsmall-box nav nav-tabs">
         <% @photos.each_with_index do |product,index| %>
           <% if index < 5 %>
             <li><a href="#<%= index %>" data-toggle="tab"><%= image_tag product.image.small.url%></a></li>
           <% end %>
         <% end %>
       </ul>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
    <% end %>
  </div>

    <div class="intro-text fr">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">运费</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><span id="quantity"><%= @product.quantity %></span>
      </p>
      <p>
        <div class="intro-text-quantity clearfix">
          <span class="pl20 pr30 fl">数量</span>
          <div class="countNumber fl mt10">
            <%= link_to("-", reduce_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-sub", method: :post) %>
            <input class="countNumber-input" type="text" value="<%= @product.buying_quantity %>">
            <%= link_to("+", add_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-plus", method: :post) %>
          </div>
        </div>

        <div class="intro-text-favorite">
           <% if current_user && current_user.is_fans_of?(@product) %>
             <i class="fa fa-star"></i><%= link_to("已关注（点击取消关注）", unfavorite_product_path(@product), method: :post) %>
           <% else %>
            <i class="fa fa-star-o"></i><%= link_to("关注商品", favorite_product_path(@product), method: :post) %>
           <% end %>
         </div>
       </p>

        <p class="intro-text-btnWrap">
          <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product),
                  :method => :post,
                  :remote => true,
                  :class => "intro-text-btn addCartBtn add-cart pl15 pr15 mt30 ml20 tc col-red f20 bg-red") %>
          <% else %>
            <a href="javascript:;" class="intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red btn-disabled">已售完</a>
          <% end %>
        </p>
      </div>
    </div>

      <!-- <div id="getting-started"></div>
        <script type="text/javascript">
          $("#getting-started")
          .countdown("<%= Time.zone.now + 2.days %>", function(event) {
            $(this).text(
              event.strftime('%D days %H:%M:%S')
            );
          });
        </script> -->
        <!-- 倒计时, <%= Time.zone.now %> 抓本地时区 -->


    <div class="productDetail border mt40">
    <ul class="productDetail-tabList bg-gray clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl50 pr50">
        商品详情
      </li>
      <li class="productDetail-tabList-tab fl pl50 pr50">
        商品评价(<%= @product.reviews.count%>)
      </li>
    </ul>
    <div class="productDetail-contentWrap">

      <div class="productDetail-content pt20 tc pb20" style="display: block;">
        <div class="productDetail-introImg">
          <% if @prints.present? %>
            <% @prints.each_with_index do |p, index| %>
                <%= image_tag p.avatar.url %>
            <% end %>
          <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>

        <div class="productDetail-content pt30 tc pb20">
          <div class="productDetail-evaluation w200 bc">
            <div class="intro-text-count clearfix mt10">
              打分: <%= rating_for @product, 'star', disable_after_rate: true %>
              <!-- <div class="star-star" data-score= <%= @avg_reviews %> ></div> -->
            </div>
          </div>
          <ul class="commentList mt70">
            <% @reviews.each do |review| %>
              <li class="commentList-item w700 pt10 pb10 bc clearfix">
                <p class="fl content tl f12">
                  <%= review.body  %><br>
                </p>
                <p class="fr name ell tr f12">
                  <%= review.user.email %>
                </p>
              </li>
            <% end %>
          </ul>
      </div>
      </div>
    </div>
  </div>
</div>
