<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="color:#f06e1a">
            <a class="navbar-brand" href="/"><img src='<%= image_url 'logo.png' %>' >Music Store </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to("首页", products_path)%>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">分类浏览
                  <span class="caret"></span>
                  <!-- 这里代表下拉菜单的倒三角 -->
                </a>
                <ul class="dropdown-menu">
                  <% Category.all.each do |category| %>
                    <li>
                      <%= link_to(category.name, products_path(category: category.name)) %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li>
                <div class="products-search-form">
                  <%= form_tag search_products_path, :method => :get  do %>
                  <div class="input-group" id="search-id" >
                    <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入您要查找的商品信息">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>

                  </div>
                  <% end %>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%=  link_to("我关注的商品", account_favorites_path) %>
              </li>
              <li>
                <%=  link_to carts_path do %>
                  购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                <% end %>
              </li>
              <% if !current_user %>
                <li class="fl jh_navbar-listItem pr10 pl10">
                  <%= link_to("注册", new_user_registration_path) %>
                </li>
                <li class="fl jh_navbar-listItem pr10 pl10">
                  <%= link_to(content_tag(:i, ' 登入',class: 'fa fa-sign-in'), new_user_session_path) %>
                </li>
                <!-- <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
                <li><a href="#" data-toggle="modal" data-target="#login-modal">登录</a></li> -->
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hi! <%= current_user.display_name %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <li><%= link_to("后台管理", admin_products_path) %></li>
                    <% end %>
                    <li> <%= link_to("我的订单", account_orders_path) %></li>
                    <li> <%= link_to("<span class='fa fa-user fa-lg'></span> 个人中心".html_safe, account_users_path(current_user)) %> </li>
                      <li role="separator" class="divider"></li> <!-- divider是bootstrap dropdowns下的分隔功能，可将多个下拉菜单分开 -->
                    <li> <%= link_to(content_tag(:i, ' 退出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete)%></li>
                  </ul>
                </li>
              <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--加入弹窗页面，将注册与登录与弹窗连接起来-->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
       <h2>登录</h2>
       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, label: "邮箱", required: false, autofocus: true %>
           <%= f.input :name %>
           <%= f.input :password, label: "密码", required: false %>
           <%= f.input :remember_me, label: "记住我", as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "登录" %>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>注册</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, label: "邮箱", required: true, autofocus: true %>
          <%= f.input :password, label: "密码", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "密码确认", required: true %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "注册" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
