<!DOCTYPE html>
<html>
  <head>

    <title>MusicStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application'%>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row main-content">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
