<!DOCTYPE html>
<html>
  <head>

    <title>MusicStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application'%>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <script src="https://qiyukf.com/script/e2089e06b694188877fdf6b6a3904cc6.js" defer async></script>
  <body>
    <audio class="music" src="Eutopia.mp3" autoplay controls loop hidden>
    </audio>
    <div class="container-fluid">
      <div class="row main-content">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
