<!DOCTYPE html>
<html>
  <head>
    <title>Music Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
        <div class="main-content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer"%>
  </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
